{
    "branches": [
        "version-15",
        "version-16"
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        "@semantic-release/changelog",
        [
            "@semantic-release/git",
            {
                "assets": [
                    "CHANGELOG.md",
                    "package.json"
                ],
                "message": "chore(release): Bumped to Version ${nextRelease.version}"
            }
        ],
        "@semantic-release/github"
    ]
}